<div class="container">
    <h1>Asistentes y Nuevos asistentes <a class="btn btn-primary" href="/new-asistente">Nuevo</a></h1>

    <div class="row">
        <div class="col-sm-6" *ngFor="let persona of personas; index as i; first as isFirst">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{persona.nombre}}</h5>
                        <p class="mb-2">{{persona.telefono}}</p>
                        <small>1</small>
                    </div>
                    <p class="mb-1">Diezmo {{persona.diezmo}} / Ofrenda {{persona.ofrenda}}</p>
                    <p class="mb-1">Kit de Bienvenida {{persona.kit}}</p>
                    <p class="mb-1">Religión: {{persona.religion}}</p>
                    <p class="mb-1">Residencia: {{persona.residencia}}</p>
                    <p class="mb-1">Llegó a faro por: {{persona.llegoPor}}</p>
                    <small>{{persona.comentario}}</small>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>

</div>