<header class="masthead">
    <div class="container">
        <div class="masthead-heading">FARO</div>
        <div class="masthead-subheading">Iglesia Cristiana</div>
    </div>
</header>
<div class="page-section comunidad">
    <div class="container">
        <h2>Comunidad</h2>
        <p>La comunidad es un lazo que une a las personas a través de la solidaridad, el respeto y la colaboración. Nos brinda identidad y apoyo, permitiéndonos enfrentar desafíos juntos y celebrar logros compartidos. En ella, cada individuo aporta algo único, fortaleciendo el tejido social. La confianza y la empatía son esenciales para su crecimiento. Construir comunidad implica compromiso, escuchar, ayudar y trabajar por un bien común. En un mundo cada vez más individualista, fortalecer la comunidad es clave para el bienestar colectivo. Juntos, somos más fuertes y podemos transformar nuestro entorno en un lugar mejor para todos.</p>
    </div>
</div>
<hr />
<div class="page-section iglesia">
    <div class="container">
        <h2>Iglesia</h2>
        <p>La iglesia cristiana es una comunidad de fe basada en el amor, la gracia y la enseñanza de Jesucristo. Su misión es guiar espiritualmente, compartir el evangelio y servir a los demás con humildad. A través de la oración, la adoración y el estudio bíblico, fortalece la relación con Dios y entre creyentes. Es un refugio de esperanza, donde se encuentran consuelo y propósito. Más que un edificio, es el cuerpo de Cristo, llamado a vivir en unidad, justicia y compasión. Su labor transforma vidas, inspirando a seguir el ejemplo de Cristo y extender su amor al mundo.</p>
    </div>
</div>
<hr />
<div class="page-section familia">
    <div class="container">
        <h2>Familia</h2>
        <p>La familia es el pilar fundamental de nuestra vida, donde aprendemos valores, amor y apoyo incondicional. Es el primer espacio de crecimiento, donde se forjan la identidad y los lazos que nos acompañan siempre. Más que un vínculo de sangre, es un refugio de comprensión y fortaleza en los momentos difíciles. En la familia, compartimos alegrías, superamos desafíos y construimos recuerdos que nos marcan para siempre. Su base es el respeto, la comunicación y el cariño. Cuidarla y fortalecerla es esencial, porque en ella encontramos nuestro mayor tesoro: el amor que nos une más allá del tiempo.</p>
    </div>
</div>
<hr />
<div class="page-section valores">
    <div class="container">
        <h2>Valores</h2>
        <p>Los valores son principios que guían nuestras acciones y definen quiénes somos. Honestidad, respeto, responsabilidad y solidaridad crean sociedades justas y armoniosas. Se reflejan en nuestras decisiones y relaciones, construyendo confianza y bienestar. Practicarlos fortalece nuestro carácter y nos ayuda a vivir con integridad, empatía y propósito cada día.</p>
    </div>
</div>