<div class="container">
    <h1>Registro</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="first-name">Nombre </label>
        <input id="first-name" type="text" formControlName="nombre" class="form-control">
        <label for="phone">Teléfono </label>
        <input id="phone" type="text" formControlName="telefono" class="form-control">
        <label for="comentario">Comentario </label>
        <textarea id="comentario" formControlName="comentario" class="form-control"></textarea>

        <div class="form-check" *ngFor="let sunday of sundays; index as i; first as isFirst">
            <input (change)="onChange(sunday)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [value]="sunday" name="sundays">
            <label class="form-check-label" for="flexCheckDefault">
                {{sunday}}
            </label>
        </div>

        <p>Complete the form to enable button.</p>
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>


</div>