<div class="container">
    <h1>{{persona.nombre}}</h1>
    <p>{{persona.telefono}}</p>
    <p>{{persona.status}}</p>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="checkDiezmo" [checked]="persona.diezmo" >
        <label class="form-check-label" for="checkDiezmo">Diezmo</label>
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="checkOfrenda" [checked]="persona.ofrenda">
        <label class="form-check-label" for="checkOfrenda">Ofrenda</label>
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="checkKit" [checked]="persona.kit">
        <label class="form-check-label" for="checkKit">Kit</label>
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="checkPrope" [checked]="persona.propedeutico">
        <label class="form-check-label" for="checkPrope">Propedéutico</label>
    </div>

    <label for="txtReligion">Religión:</label>
    <input class="form-control" id="txtReligion" value="{{persona.religion}}"/>

    <label for="txtResidencia">Residencia:</label>
    <input class="form-control" id="txtResidencia" value="{{persona.residencia}}"/>

    <label for="txtLlegoPor">Llegó por:</label>
    <input class="form-control" id="txtLlegoPor" value="{{persona.llegoPor}}"/>

    <label for="txtComentario">Comentario</label>
    <textarea class="form-control" id="txtLlegoPor" value="{{persona.comentario}}"></textarea>

    <div>
        <p *ngFor="let asistencia of persona.asistencias; index as i; first as isFirst">{{asistencia.fecha}}</p>
    </div>

    <div>
        <p *ngFor="let nota of persona.notas; index as i; first as isFirst">{{nota.nota}}</p>
    </div>
    <p>Record status : {{persona.activo}}</p>
    <p>Created at: {{persona.created}}</p>

</div>