<figure class="snip1336">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
    <figcaption>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4"
            class="profile" />
        <h2>{{persona.nombre}}</h2>
        <p>{{persona.status}}</p>
        <p>
            <small>{{persona.telefono}}</small>
            <a aria-label="Chat on WhatsApp" href="https://wa.me/1{{persona.telefono}}"><img alt="Chat on WhatsApp" src="/assets/img/WhatsAppButtonGreenMedium.png" /></a>
        </p>
        <p>{{persona.comentario}}</p>

        <p>
            <label for="txtReligion">Religión: {{persona.religion}}</label>
        </p>

        <p>
            <label for="txtResidencia">Residencia: {{persona.residencia}}</label>
        </p>

        <p>
            <label for="txtLlegoPor">Llegó por: {{persona.llegoPor}}</label>
        </p>


        <a [routerLink]="['/edit-asistente', persona.id]" class="follow" [hidden]="shortview">Editar</a>
        <a [routerLink]="['/asistentes',  persona.id]" class="info" [hidden]="!shortview">+ Info</a>

        <div [hidden]="shortview">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="checkDiezmo"
                    [checked]="persona.diezmo">
                <label class="form-check-label" for="checkDiezmo">Diezmo</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="checkOfrenda"
                    [checked]="persona.ofrenda">
                <label class="form-check-label" for="checkOfrenda">Ofrenda</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="checkKit" [checked]="persona.kit">
                <label class="form-check-label" for="checkKit">Kit</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="checkPrope"
                    [checked]="persona.propedeutico">
                <label class="form-check-label" for="checkPrope">Propedéutico</label>
            </div>

            <hr />

            <div class="seccion-card">
                <p>Notas: </p>
                <div *ngFor="let nota of persona.notas; index as i; first as isFirst" class="nota success">{{nota.nota}}
                </div>
                <hr />
                <p>Asistencias: </p>
                <p *ngFor="let asistencia of persona.asistencias; index as i; first as isFirst">{{asistencia.fecha}}</p>
            </div>

            <hr />

            <p>Record status : {{persona.activo}}</p>
            <p>Created at: {{persona.created}}</p>
        </div>
    </figcaption>
</figure>